<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parts/betahead.ejs") %>
  </head>
  <body>
    <h1 style="text-align: center; font-size: 100px;">
      404
    </h1>
    <p style="text-align: center; font-weight: bold;">
      Go back <a href="/me">home</a>
    </p>
    
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    
  </body>
</html>