<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parts/betahead.ejs") %>
  </head>
  <body>
    <h1 style="text-align: center; font-size: 100px;">
      404
    </h1>
    <p style="text-align: center; font-weight: bold;">
      Go back <a href="/me">home</a>
    </p>
  </body>
</html>