<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>
    
    <div class="ta-center">
      
      <% if (error) { %>
    <div class="error">
      <span class="error-msg"><%= msg %></span>
    </div>      
      <% } else if (success) { %>
      <div class="success">
        <span class="success-msg">Successfuly add</span>
      </div>
      <% } %>
      
    <div class="box-1 cv">
<form method="post">
  <h1 style="color: #ddd; text-align: center;">
    Hi <%= req.session.user.Username %>!
  </h1>
  
  <div class="form-control">
    <label for="user-input">Add someone with <a href="/faq#get-user-id" target="_blank">User ID</a></label>
    <input name="user" type="text" class="form-input" id="user-input" placeholder="user id" required>
  </div>    
  
  <div class="btn-submit">
    <a style="margin-right: 10px;" href="/">cancel</a><button type="submit" class="btn btn-primary">Add</button>    
  </div>
</form>
    </div>
    </div>
    
    <script>
    navigator.clipboard.readText().then(text => document.getElementById("user-input").value = text);
    </script>
  </body>
</html>