<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>
    
    <button class="btn btn-primary" onclick="location.href = '/'" style="margin: 10px;">
      Back
    </button>
    
    <h1 style="text-align: center; color: white;">
      Frequently Asked Questions
    </h1>
    
    <div class="faq-list">
    <div class="faq" id="how-to-change-user-settings">
      <h2 onclick="navigator.clipboard.writeText(window.location.href + '#how-to-change-user-settings');" style="margin-bottom: 15px;">
        How to change user settings
      </h2>
      <p>
        Go to <a href="/">Home</a> and click your <strong>username</strong> or <strong>gear button</strong>, here you are!
      </p>
    </div>  
    <div class="faq" id="cant-change-avatar">
      <h2 onclick="navigator.clipboard.writeText(window.location.href + '#cant-change-avatar');" style="margin-bottom: 15px;">
        Can't change avatar
      </h2>
      <p>
        Make sure your avatar type is <strong>png, jpg, or gif</strong>
      </p>
    </div>        
    </div>
  </body>
</html>