<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>
    
    <button class="btn btn-primary" onclick="location.href = '/'" style="margin: 10px;">
      Back
    </button>
    
    <h1 style="text-align: center; color: white;">
      Frequently Asked Questions
    </h1>
    
    <div id="how-to-change-user-settings">
      <h2 class="htcus">
        How to change user settings <small class="how-to-change-user-settings">#</small>
      </h2>
    </div>
    
    
    <script></script>
  </body>
</html>