<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>
<ul class="sidebar">
  <li>Home</li>
  <li>Products</li>
  <li>Details</li>
  <li>Where to buy</li>
  <li>Contact</li>
  <li>About</li>
</ul>

<input type="checkbox" id="sidebar-btn" class="sidebar-btn" checked/>
<label for="sidebar-btn"></label>

<div class="content">
  <h1>Flat CSS Sidebar</h1>
</div>    
  </body>
</html>