<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>
    
    <div class="navbar-brand">
      Zhat - online chat app
    </div>
    <div class="navbar-account">
      <img class="account-avatar" alt="avatar" src="">
    </div>
    
  </body>
</html> 