<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>
    
    <div class="navbar-brand">
      Zhat - online chat app
    </div>
    <div class="navbar-account" onclick="location.href = '/settings'">
      <img class="account-avatar" alt="avatar" src="<%= req.session.user.Avatar %>">
      <span class="account-username"><%= req.session.user.Username %></span>
    </div>
    
  </body>
</html> 