<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parts/betahead.ejs") %>
  </head>
  <body class="loading-body" id="body">
    <div class="loading" id="loading">
      <img class="loading-svg" src="https://cdn.glitch.com/8d554e23-44aa-49a6-8cbc-b5907d9296e9%2Fundraw_building_websites_i78t.svg?v=1629368423963" alt="loading...">
      <span class="loading-title">Loading...</span>
    </div>
    
    <main class="main" style="display: flex; justify-content: center; align-items: center; flex-direction: ">
      <% if (error) { %>
    <div class="error">
      <span class="error-msg"><%= msg %>. <a href="/signup">create account here</a></span>
    </div>      
      <% } %>
      <div class="box-1">
        <span class="box-1-title">Login</span>
        <hr style='border-color: black; margin-top: 10px;'>
        <form method="post">
        <div class="box-1-list">
          <div class="box-1-input">
            <label for="email">Email</label>
            <input class="input-box" type="email" name="email" id="email" placeholder="johndoe@gmail.com" autocomplete="on" required>
          </div>
          <div class="box-1-input">
            <label for="email">Password</label>
            <input class="input-box" type="password" name="password" id="password" placeholder="johndoe" autocomplete="off" required>
          </div>          
        </div>
          <div class="box-1-submit">
            <a href="/signup">already have an account?</a>
            <button class="btn btn-primary" type="submit" style="margin-left: 10px;">
              Login
            </button>
          </div>
        </form>
      </div>
    </main>
    <script>
      window.onload = function() {
        setTimeout(() => {
          document.getElementById('body').classList.remove("loading-body");
          document.getElementById('loading').classList.add("not-showing")
        }, 1000)
      }
    </script>
  </body>
</html>