/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* default */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none;
}

body {
  background-color: white;
}

/* button */
.btn {
  min-width: 120px;
  height: 36px;
  border: none;
  border-radius: 3px;
  transition: 0.5s;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.btn:hover {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #119CC8;
}

.btn-primary:hover {
  background-color: #2894B7;
}

@media (min-width: 992px) {
}

/* link */
a {
  color: #0229F5;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* global */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px 10px 28px;
  background-color: #09C4FF;
  height: 45px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
  position: relative;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.navbar-navigation {
  display: flex;
  background-color: transparent;
}

.navbar-link {
  margin: 10px 10px 10px 19px;
}

.navbar-navigation {
  align-items: center;
}

.navbar-link a {
  color: white;
}

.navbar-link a:hover {
  text-decoration: underline;
}

pre {
  background: slategrey;
  padding: 1px 11px;
  border-radius: 4px;
}

.navbar-brand.brand {
  width: 70px;
  height: 70px;
  display: flex;
  background-color: #1BB3E3;
  border-radius: 50%;
  align-items: center;
  transform: translate(-25px, -12px);
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0px 0px 7px 3px rgb(0 0 0 / 25%);
  color: white;
}

.navbar-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}

.navbar-toggle-icon {
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
}

.navbar-toggle-2 {
  width: -webkit-fill-available;
  display: flex;
  cursor: pointer;
}

.navbar-toggle-2-icon {
  margin-left: auto;
  margin-right: 47px;
  margin-top: 2px;
  font-size: 29px;
  color: white;
}

.jumbotron {
  display: flex;
  justify-content: space-between;
  margin-right: 11%;
  margin-left: 11%;
  align-items: center;
  margin-top: 50px;
}

.jumbotron-info {
  color: #0315B9;
}

img.jumbotron-image {
  width: 380px;
  height: auto;
}

p.jumbotron-description {
  max-width: 350px;
  font-size: 24px;
}

h1.jumbotron-title {
  font-size: 60px;
}

main.main {
  min-height: 100vh;
  margin-top: -15px;
  padding-top: 15px;
  position: absolute;
  width: -webkit-fill-available;
  z-index: -1000;
}

.share-section {
  width: -webkit-fill-available;
  text-align: right;
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.create-bot {
    background: #09C4FF;
    position: absolute;
    z-index: 99999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: fit-content;  
}

.bi-box button {
    margin: 10px;
}

.create-bot-err {
    background: indianred;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 10px 0;
  display: none;
}

.bots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    justify-content: center;
    max-width: 800px;
    margin: 20px auto;
}

.bot-box {
    display: flex;
    flex-direction: column;
    background: darkslategrey;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.bot-box:hover {
    transform: scale(1.05);
}

.bot-box img {
    border-radius: 16px;
    width: 150px;
    height: 150px;
    object-fit: cover;  
}

.bot-box span {
    text-align: center;
    margin: 5px 0 0 0;
}

.bi-box img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.bot-info {
    display: flex;
    flex-direction: column;
}

.bi-box.bi-avatar-username {
    text-align: center;
    flex-direction: column;
}

.bi-box {
    background: darkslategrey;
    padding: 10px;
    margin: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  height: 50px;
  background-color: #09C4FF;
  padding: 15px;
  margin: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -999999;
  margin-top: 100vh;
  width: -webkit-fill-available;
}

.loading {
  position: fixed;
  background: #09C4FF;
  z-index: 999;
  width: -webkit-fill-available;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden !important;
  transition: all 0.5s;
}

.loading.not-showing {
  transform: translateY(-108%);
}

.loading-body {
  overflow: hidden;
}

img.loading-svg {
  width: 30%;
}

span.loading-title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 12px;
}

.box-1 {
  width: 450px;
  height: min-content;
  background-color: #09C4FF;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
}

span.box-1-title {
  font-size: 60px;
  font-weight: bold;
  color: #0315B9;
  font-style: normal;
}

.box-1-list {
  display: flex;
  flex-direction: column;
}

.box-1-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
}

.box-1-input label {
  margin: 10px 10px 10px 0px;
  font-size: 24px;
  color: #0315B9;
  font-weight: bold;
}

.input-box {
  height: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: #FFE8E8;
  color: black;
}

.input-box::placeholder {
  color: #87888B;
}

.box-1-submit {
  width: -webkit-fill-available;
  text-align: right;
}

.pf-navbar {
  background-color: #09C4FF;
  margin: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
}

img.pf-img {
  background: white;
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 50%;
  object-fit: cover;
}

span.pf-status {
  border: 3px solid black;
  width: 16px;
  height: 16px;
  display: flex;
  border-radius: 50%;
  transform: translate(48px, -25px);
  position: absolute;
  transition: 0.5s;
}

span.pf-status.offline {
  background: #999999;
}

span.pf-status.bot {
    background: deepskyblue;
}

span.pf-status.online {
  background: #4CC701;
}

span.pf-username {
  font-size: 30px;
  margin-left: 13px;
  font-weight: bold;
  color: #0315B9;
}

.contacts {
  background-color: #E9E9E9;
  width: 75%;
  margin: 0 auto;
  padding: 12px;
  transform: translateY(-32px);
  z-index: -11;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin: 21px 0px;
  cursor: pointer;
}

img.pf-img.pf-2 {
  width: 50px;
  height: 50px;
}

span.pf-status.pf-2 {
  width: 10px;
  height: 10px;
  transform: translate(34px, -17px);
}

span.pf-username.pf-2 {
  font-size: 25px;
}

span.pf-lastmsg.pf-2 {
  margin-left: 13px;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.pf-username-lastmsg {
  display: flex;
  flex-direction: column;
}

.btn-back {
  background-color: #09C4FF;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
}

.navbot {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  width: -webkit-fill-available;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #09C4FF;
  padding: 10px;
}

.navbot-link a {
  font-size: 32px;
  margin: 0 10px;
}

.navbot-link {
  margin: 0px 10px;
  height: -webkit-fill-available;
  align-items: center;
  display: flex;
}

span.acc-name {
  font-size: 20px;
  font-weight: bold;
  color: #0315B9;
  cursor: pointer;
}

.chats {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.he-chat {
  width: -webkit-fill-available;
  display: flex;
  margin: 10px;
}

.he-info {
  margin-left: 10px;
  color: black;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

img.he-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
  margin: auto 0;
}

.me-chat {
  width: -webkit-fill-available;
  display: flex;
  margin: 10px;
  text-align: right;
  flex-direction: row-reverse;
}

img.me-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
  margin: auto 0;
}

.me-info {
  margin-right: 10px;
  color: black;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

p.me-msg {
  background-color: #09C4FF;
  padding: 10px 20px 10px 20px;
  border-radius: 18px;
  min-height: 16px;
  margin: auto;
  word-break: break-all;
  display: flex;
  flex-wrap: wrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.me-name {
  font-weight: bold;
  letter-spacing: 1px;
}

p.he-msg {
  background-color: #09C4FF;
  padding: 10px 20px 10px 20px;
  border-radius: 18px;
  min-height: 16px;
  margin: auto;
  word-break: break-all;
  display: flex;
  flex-wrap: wrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.he-name {
  font-weight: bold;
  letter-spacing: 1px;
}

.cursor-pointer {
  cursor: pointer;
}

.chat-form {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #09C4FF;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
}

textarea.chat-input {
  width: -webkit-fill-available;
  font-weight: bold;
}

.chat-form form {
  display: flex;
  justify-content: center;
  text-align: center;
  width: -webkit-fill-available;
  align-items: center;
}

.chat-up {
  width: -webkit-fill-available;
  height: 60px;
  display: flex;
}

textarea {
  resize: vertical;
  max-height: 100px;
  overflow: overlay;
  min-height: 15px;
}

.navbar-brand.brand {
  cursor: pointer;
}

emoji-picker {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  width: 50%;
}

.modal-content {
  font-size: 24px;
  width: 70px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.error {
  background-color: indianred;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.success {
  background-color: seagreen;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.modal {
  position: fixed;
  background-color: #09C4FF;
  width: -webkit-fill-available;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: all 0.5s;
}

.modal-close {
  width: -webkit-fill-available;
  text-align: right;
  font-size: 33px;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.modal-pf {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  background-color: #24aad4;
  padding: 7px;
  border-radius: 5px;
  margin-top: 10px;
  max-width: 300px;
  cursor: pointer;
}

.faq-list {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 25px;
}

.ads {
  text-align: center;
  margin: 50px;
}

.faq {
  background-color: darkslategrey;
  margin: 20px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border-left: 8px solid #09C4FF;
}

.faq h2 {
  cursor: pointer;
}

small#showEye {
  display: block;
  width: fit-content;
  text-align: right;
  transform: translate(0px, 39px);
  font-size: 24px;
  margin: 0 0 0 auto;
}

.modal.on {
  transform: translateY(0%);
}

.pf-username-click {
  display: flex;
  flex-direction: column;
}

span.pf-click {
  margin-left: 17px;
}

.btn-info {
  display: flex;
  align-items: center;
}

.disabled {
  cursor: not-allowed;
}

.features {
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
}

img.feature-img {
  width: auto;
  height: auto;
  max-width: -webkit-fill-available;
  border-radius: 6px;
}

.ads-1 {
    background-color: aqua;
    max-width: 420px;
    padding: 10px;
    margin: 100px auto 0 auto;
    height: 60px;
    font-size: 16px;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.feature {
  max-width: -webkit-fill-available;
  box-shadow: 0 11px 22px 7px rgb(0 0 0 / 30%);
  margin: 100px 10px;
  border-radius: 6px;
  padding: 12px;
  width: -webkit-fill-available;
  max-width: 700px;
  text-align: center;
  font-weight: bold;
  background: #09C4FF;
  color: black;
}

@media (max-width: 480px) {
  .box-1 {
    width: -webkit-fill-available;
  }

  emoji-picker {
    left: 0;
    width: 300px;
    margin: 56px auto;
  }
}

@media (min-width: 992px) {
  .chats {
    margin: 90px 150px 0px 150px;
  }

  .chat-form {
    padding: 10px 150px;
  }
}

@media (min-width: 620px) {
  .navbar-toggle {
    display: none;
  }
  .navbar-toggle-2 {
    display: none;
  }
}

@media (max-width: 620px) {
  .navbar-navigation {
    flex-direction: column;
    position: fixed;
    background-color: #09C4FF;
    width: -webkit-fill-available;
    margin-right: 33px;
    margin-left: -33px;
    margin-top: -20px;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: all 1s;
    transform: translateY(-100%);
  }

  .navbar-navigation.on {
    transform: translateY(0%);
  }

  .navbar-nav {
    flex-direction: column;
    width: -webkit-fill-available;
    margin: 10px;
    text-align: center;
  }

  .navbar-link {
    margin: 10px 10px 10px 10px;
  }

  .btn-getstarted {
    width: -webkit-fill-available;
    margin-right: 18px;
    max-width: 290px;
  }
}

@media (max-width: 1000px) {
  .jumbotron {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .jumbotron-info {
    width: -webkit-fill-available;
    text-align: center;
  }

  .jumbotron-image {
    display: none;
  }

  .jumbotron-description {
    margin: auto;
  }
}
