/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* default */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none;
}

body {
  background-color: white;
}

/* button */
.btn {
  width: 120px;
  height: 36px;
  border: none;
  border-radius: 3px;
  transition: 0.5s;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.btn:hover {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #119CC8;
}

.btn-primary:hover {
  background-color: #2894B7;
}

@media (min-width: 992px) {
}

/* link */
a {
  color: #0229F5;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

/* global */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px 10px 28px;
  background-color: #09C4FF;
  height: 45px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
  position: relative;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.navbar-navigation {
  display: flex;
  background-color: transparent;
}

.navbar-link {
  margin: 10px 10px 10px 19px;
}

.navbar-navigation {
  align-items: center;
}

.navbar-link a {
  color: white;
}

.navbar-link a:hover {
  text-decoration: underline;
}

.navbar-brand.brand {
  width: 70px;
  height: 70px;
  display: flex;
  background-color: #1BB3E3;
  border-radius: 50%;
  align-items: center;
  transform: translate(-25px, -12px);
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0px 0px 7px 3px rgb(0 0 0 / 25%);
  color: white;
}

.navbar-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}

.navbar-toggle-icon {
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
}

.navbar-toggle-2 {
  width: -webkit-fill-available;
  display: flex;
  cursor: pointer;
}

.navbar-toggle-2-icon {
  margin-left: auto;
  margin-right: 47px;
  margin-top: 2px;
  font-size: 29px;
  color: white;
}

.jumbotron {
  display: flex;
  justify-content: space-between;
  margin-right: 11%;
  margin-left: 11%;
  align-items: center;
  margin-top: 50px;
}

.jumbotron-info {
  color: #0315B9;
}

img.jumbotron-image {
  width: 380px;
  height: auto;
}

p.jumbotron-description {
  max-width: 350px;
  font-size: 24px;
}

h1.jumbotron-title {
  font-size: 60px;
}

main.main {
  height: 100vh;
  margin-top: -15px;
  padding-top: 15px;
}

footer {
  text-align: center;
  height: 50px;
  background-color: #09C4FF;
  padding: 15px;
  margin: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  position: fixed;
  background: #09C4FF;
  z-index: 999;
  width: -webkit-fill-available;
  height: 103vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden !important;
  transition: all 0.5s;
}

.loading.not-showing {
  transform: translateY(-108%);
}

.loading-body {
  overflow: hidden !important;
}

img.loading-svg {
  width: 30%;
}

span.loading-title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 12px;
}

.box-1 {
  width: 450px;
  height: min-content;
  background-color: #09C4FF;
  padding: 15px;
  border-radius: 5px;
  margin: 0px 20px 0px 20px;
}

span.box-1-title {
  font-size: 60px;
  font-weight: bold;
  color: #0315B9;
  font-style: normal;
}

.box-1-list {
    display: flex;
    flex-direction: column;
}

.box-1-input {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}

.box-1-input label {
    margin: 10px 10px 10px 0px;
    font-size: 24px;
    color: #0315B9;
    font-weight: bold;
}

.input-box {
    height: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #FFE8E8;
    color: black;
}

.input-box::placeholder {
    color: #87888B;
}

.box-1-submit {
    width: -webkit-fill-available;
    text-align: right;
}

@media (min-width: 620px) {
  .navbar-toggle {
    display: none;
  }
  .navbar-toggle-2 {
    display: none;
  }
}

@media (max-width: 620px) {
  .navbar-navigation {
    flex-direction: column;
    position: fixed;
    background-color: #09C4FF;
    width: -webkit-fill-available;
    margin-right: 33px;
    margin-left: -33px;
    margin-top: -20px;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: all 1s;
    transform: translateY(-100%);
  }

  .navbar-navigation.on {
    transform: translateY(0%);
  }

  .navbar-nav {
    flex-direction: column;
    width: -webkit-fill-available;
    margin: 10px;
    text-align: center;
  }

  .navbar-link {
    margin: 10px 10px 10px 10px;
  }

  .btn-getstarted {
    width: -webkit-fill-available;
    margin-right: 18px;
    max-width: 290px;
  }
}

@media (max-width: 1000px) {
  .jumbotron {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .jumbotron-info {
    width: -webkit-fill-available;
    text-align: center;
  }

  .jumbotron-image {
    display: none;
  }

  .jumbotron-description {
    margin: auto;
  }
}
