:root {
  --primary: #1C6E8C;
  --second: #D0CCD0;
  --third: #FBFCFF;
  --last: #605856;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*:focus {
  outline: none;
}


body {
  background-color: var(--primary);
}

.btn {
  border: none;
  background: transparent;
  padding: 10px;
  font-weight: 500;
  color: var(--second);
  cursor: pointer;
  border-radius: 4px;
  min-width: 110px;
}

.btn:hover {
  color: var(--third);
}

.btn-primary {
  background-color: #23a632 !important;
  transition: 0.3s;
}

/* .btn-primary:hover {
  background-color: #248c30 !important;
} */

.btn-danger {
  background-color: #a62323 !important;
  transition: 0.3s;
}

/* .btn-danger:hover {
  background-color: #8c2424 !important;
} */

a {
  color: white;
}

/*  */

.ta-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box-1 {
  margin: 25px 10px auto 10px;
  background-color: var(--last);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px black;
  max-width: 425px;
  width: 425px;
}

.form-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: var(--third);
  margin-top: 15px;
}

.form-input {
  border: none;
  padding: 5px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  height: 20px;
}

.btn-submit {
  text-align: right;
}

.error {
    background-color: indianred;
    padding: 10px;
    width: 300px;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin-top: 15px;
}

.navbar-brand {
    padding: 10px;
    border-bottom: 1px solid white;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-account {
    width: -webkit-fill-available;
    height: auto;
    display: flex;
    align-items: center;
    background: var(--second);
    padding: 10px;
    cursor: pointer;
}

.account-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.account-username {
    margin: 10px 10px 10px 10px;
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
    white-space: nowrap;
    flex-wrap: wrap;
    text-overflow: ellipsis;
}

.account-avatar-2 {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.account-username-2 {
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    color: black;
    letter-spacing: 1px;
    white-space: nowrap;
    flex-wrap: wrap;
    text-overflow: ellipsis;
}

.account-list {
    display: flex;
    flex-direction: column;
}

.account {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 25px;
    background-color: darkcyan;
    cursor: pointer;
}

@media (max-width: 492px) {
  .box-1 {
    width: auto;
  }
  
}