<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="all">

<!-- Primary Meta Tags -->
<title>Zhatting - chatting with other people on internet anywhere, anytime</title>
<meta name="title" content="Zhatting - chatting with other people on internet anywhere, anytime">
<meta name="description" content="Zhatting gives you private chat within 2 people, you and someone, and you can use on anywhere, anytime!">
<meta name="keywords" content="zhat, zhatting, zgang, vins2106">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://zhat.cf/login">
<meta property="og:title" content="Zhatting - chatting with other people on internet anywhere, anytime">
<meta property="og:description" content="Zhatting gives you private chat within 2 people, you and someone, and you can use on anywhere, anytime!">
<meta name="theme-color" content="#09C4FF">
<meta property="og:image" content="https://cdn.discordapp.com/attachments/865219234802958336/878503879661191168/20210821_130038.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://zhat.cf/login">
<meta property="twitter:title" content="Zhatting - chatting with other people on internet anywhere, anytime">
<meta property="twitter:description" content="Zhatting gives you private chat within 2 people, you and someone, and you can use on anywhere, anytime!">

<link rel="manifest" href="/manifest.json">
<link rel="icon" href="https://cdn.glitch.com/8d554e23-44aa-49a6-8cbc-b5907d9296e9%2Ficon%20(1).ico">
<link rel="stylesheet" type="text/css" href="/beta.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script data-ad-client="ca-pub-3656942267473031" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>  
console.log("%cWarning", "color: red; font-size: 65px;")
console.log("%cDon't paste anything here, your account could be get hacked", "color: white; font-size: 30px;")
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('./sw.js')
    .then(function(registration) {
    }).catch(function(err) {
    });
}  
</script>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
particlesJS({
  "particles": {
    "number": {
      "value": 80,
      "density": {
        "enable": true,
        "value_area": 3607.6771369474263
      }
    },
    "color": {
      "value": "#000000"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "none",
      "random": true,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 400,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": false
});
</script>