<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="all">

<!-- Primary Meta Tags -->
<title>Zhatting - chatting with other people on internet anywhere, anytime</title>
<meta name="title" content="Zhatting - chatting with other people on internet anywhere, anytime">
<meta name="description" content="Zhatting gives you private chat within 2 people, you and someone, and you can use on anywhere, anytime!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://zhat.cf/login">
<meta property="og:title" content="Zhatting - chatting with other people on internet anywhere, anytime">
<meta property="og:description" content="Zhatting gives you private chat within 2 people, you and someone, and you can use on anywhere, anytime!">

<!-- Twitter -->
<meta property="twitter:url" content="https://zhat.cf/login">
<meta property="twitter:title" content="Zhatting - chatting with other people on internet anywhere, anytime">
<meta property="twitter:description" content="Zhatting gives you private chat within 2 people, you and someone, and you can use on anywhere, anytime!">

<link rel="manifest" href="/manifest.json">
<link rel="icon" href="https://cdn.glitch.com/8d554e23-44aa-49a6-8cbc-b5907d9296e9%2Ficon%20(1).ico">
<link rel="stylesheet" type="text/css" href="/beta.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script data-ad-client="ca-pub-3656942267473031" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
<script>
console.log("%cWarning", "color: red; font-size: 65px;")
console.log("%cDon't paste anything here, your account could be get hacked", "color: white; font-size: 30px;")
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('./sw.js')
    .then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }).catch(function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
}  
  
  let isInstall;
  
window.addEventListener("beforeinstallprompt", ev => { 
  ev.preventDefault();
  
  
  var btnBase = document.getElementById("install-base");
  var btn = document.getElementById("install-btn");
  
  btnBase.style.display = "none";
  
  if (localStorage.getItem("install")) return;
  btnBase.style.display = "block";
          btn.addEventListener('click', () => {
            let promptBtn = ev.prompt();
          });  
  
  ev.userChoice.then()
  
});
</script>