<meta charset="utf-8">
<title>Zhat - chatting with other people on internet anywhere, anytime</title>
<meta name="title" content="Zhat - chatting with other people on internet anywhere, anytime">
<meta name="description" content="Zhat gives you private chat within 2 people, you and someone, and you can use on anywhere, anytime!">
<meta name="keywords" content="chat, online chat, zhat">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">