<title>Zhat - chatting with other people on internet anywhere, anytime</title>
<meta name="title" content="Zhat - chatting with other people on internet anywhere, anytime">
<meta name="description" content="Zhat gives you private chat within 2 people, you and someone, and you can use on anywhere, anytime!">
<meta name="keywords" content="chat, online chat, zhat">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">

<link rel="stylesheet" href="styles.css">