<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../parts/betahead.ejs") %>
  </head>
  <body class="loading-body" id="body">
    <div class="loading" id="loading">
      <img class="loading-svg" src="https://cdn.glitch.com/8d554e23-44aa-49a6-8cbc-b5907d9296e9%2Fundraw_building_websites_i78t.svg?v=1629368423963" alt="loading...">
      <span class="loading-title">Loading...</span>
    </div>
    
    <main class="main">
      <div class="btn-back">
        <button class="btn btn-primary" onclick="location.href='/beta/home'">
          Back
        </button>
        <span class="acc-name">John Doe</span>
      </div>
      <div class="chats">
        <div class="he-chat">
          <img src="https://i.stack.imgur.com/l60Hf.png" alt="He avatar" class="he-avatar">
          <div class="he-info">
            <span class="he-name">John Doe</span>
            <p class="he-msg">Hi jane 🖐️, how are you?</p>
          </div>
        </div>
        <div class="me-chat">
          <img src="https://i.stack.imgur.com/l60Hf.png" alt="He avatar" class="me-avatar">
          <div class="me-info">
            <span class="me-name">Jane Doe</span>
            <p class="me-msg">Hi, im good :D</p>
          </div>
        </div>        
      </div>
    </main>
    
    <script>
    let isNavbar = false;
      
      function toggleNavbar() {
        let navbar = document.getElementById("navbar");
        
        if (isNavbar) {
          navbar.classList.remove("on");
          isNavbar = false;
        } else if (!isNavbar) {
          navbar.classList.add("on");
          isNavbar = true;
        }
      }
    
    </script>
    <script>
      window.onload = function() {
        setTimeout(() => {
          document.getElementById('body').classList.remove("loading-body");
          document.getElementById('loading').classList.add("not-showing")
        }, 1000)
      }
    </script>
  </body>
</html>