<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../parts/betahead.ejs") %>
  </head>
  <body>
<!--     navbar -->
    <div class="navbar">
      <div class="navbar-brand">
        <span class="navbar-brand brand">Z</span>
      </div>
      <div class="navbar-navigation" id="navbar">
      <div class="navbar-toggle-2" id="navbar-toggle-2">
        <span onclick="toggleNavbar()" class="navbar-toggle-2-icon"><i class="fa fa-close"></i></span>
      </div>
      <ul class="navbar-nav">
        <li class="navbar-link"><a href="/beta">Home</a></li>
        <li class="navbar-link"><a href="/faq">Link</a></li>
        <li class="navbar-link"><a href="/updates">Link</a></li>
      </ul>
      <button style="margin-left: 16px;" class="btn btn-primary btn-getstarted" onclick="location.href='/@me'">
        Get started
      </button>        
      </div>
      <div class="navbar-toggle" id="navbar-toggle" onclick="toggleNavbar()">
        <span class="navbar-toggle-icon"><i class="fa fa-bars"></i></span>
      </div>
    </div>
    
    <script>
    let isNavbar = false;
      
      function toggleNavbar() {
        let navbar = document.getElementById("navbar");
        
        if (isNavbar) {
          navbar.classList.remove("on");
        } else if (!isNavbar) {
          navbar.classList.add("on");
        }
      }
    
    </script>
  </body>
</html>