<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../parts/betahead.ejs") %>
  </head>
  <body>
<!--     navbar -->
    <div class="navbar">
      <div class="navbar-brand">
        <span class="navbar-brand brand">Z</span>
      </div>
      <div class="navbar-navigation">
      <ul class="navbar-nav">
        <li class="navbar-link"><a href="/beta">Home</a></li>
        <li class="navbar-link"><a href="/faq">Link</a></li>
        <li class="navbar-link"><a href="/updates">Link</a></li>
      </ul>
      <button style="margin-left: 16px;" class="btn btn-primary" onclick="location.href='/@me'">
        Get started
      </button>        
      </div>
      <div class="navbar-toggle" id="navbar-toggle">
        <span class="navbar-toggle-icon"><i class="fa fa-bars"></i></span>
      </div>
    </div>
  </body>
</html>