<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../parts/betahead.ejs") %>
  </head>
  <body>
<!--     navbar -->
<!--     <div class="navbar">
      <div class="navbar-brand">
        <span class="navbar-brand brand">Z</span>
      </div>
    </div> -->
    
    <button class="btn btn-primary">
      Button
    </button>
    <br>
    <br>
    <a href="#">Link</a>
  </body>
</html>